@model Shampan.Models.ModulePermission


<h1>ModuleListIndex</h1>


@foreach(var item in Model.ModuleList)
{

    <div class="alert alert-primary" role="alert">
        @item.Modul
    </div>

    
}

