@model Shampan.Models.AuditModule.AuditMaster

@{
    ViewData["Title"] = "Index";
    ////var message = ViewBag.SuccessMsg;
}

@Html.Partial("_Header",new HeaderModel(){ HeaderName = "Audit Approval", BreadCrums = new Dictionary<string, string>()
{
    {"/Audit/ApproveStatusIndex","Index"},
    {"","Index"},
}})

<link href="~/css/button.css" rel="stylesheet" />

<style>
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-title {
        margin-right: auto; /* Pushes the title to the left */
    }
</style>



<div class="container-fluid">

    @*<div class="container-fluid">
        <div class="card">
            <div class="card-header p-2">
                <button type="button" title="" id="MultipleAA" class="button sslSubmission"><i class="fas fa-check-circle"></i> Multiple Approval</button>
            </div>
        </div>
    </div>*@


    <div class="card card-secondary">

       @* <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>
        </div>*@


        <div class="card-header">
            <h3 class="card-title">
                List Of Data
            </h3>
            <button type="button" title="" id="MultipleAA" class="button sslSubmission"><i class="fas fa-check-circle"></i> Multiple Approval</button>
        </div>

 
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered table-striped" style="width:100%" id="ApproveStatusList">
                    <thead>
                        <tr>

                            <th class="action"><input type="checkbox" class="chkAll" />&nbsp;Action</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th class="action">Approve Status</th>
                            @*<th class="status">Approve Status</th>*@

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script src="/js/app/Services/CommonService.js"></script>
    <script src="/js/app/Services/AuditApproveStatusService.js"></script>
    <script src="/js/app/Controllers/AuditApproveStatusController.js"></script>

    <script>

        $(document).ready(function () {

            AuditApproveStatusController.init();

        });

    </script>
    }

